body {
              background-color:#999999;
              font-family: 'Oswald', sans-serif;
      }
p
{
  color:#000000;
  font-size:20px;
}

    .container {
      margin: 0 auto;
    }

    h1 {
      font-size: 1.5em;
     text-align: center;
    }

    div[slot] {
      background-color: transparent !important;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin-bottom: 20px;
    }

    img[slot="image"] {
      display: block;
      margin: 0 auto;
    }

    /* Estilos adicionales para etiquetas de nombre */
    .header-slot-label {
      background-color: #cce5ff;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      display: inline-block;
    }

    .content-slot-label {
      background-color: #d4edda;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      display: inline-block;
    }

    .footer-slot-label {
      background-color: #f8d7da;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      display: inline-block;
    }